extends layout

block content
  script(src='scripts/trumbowyg.min.js')
  link(rel='stylesheet',href="scripts/ui/trumbowyg.min.css")
  script(src='/javascripts/edit.js')
  div(class='flex four')
    div
    div(class='full half-1300 pad')
      h1 Edit Page
      button(class='success', type='button', id='logout') Logout
      #editSection
    div