extends layout

block content
  script(src='/javascripts/home.js')
  div(class='flex four')
    div
    div(class='full half-1300 pad')
      h1 Boba
      h4 Victor's Bubble Tea Blog
      br
      #cards(class='full')
    div