extends layout

block content
  script(src='/javascripts/login.js')
  div(class='flex four')
    div
    div(class='full half-1300 pad')
      article(class='card', id='err_box')
          span(class='label warning', id='err')= message
      h2 Boba account Registration
      hr
      form(action="/register", method="post")
        div
          label Username
          input(type="text", name="username")
        div
          label Email
          input(type='email',name='email')
        div
          label Password:
          input(type="password", name="password")
        div
          label Re-try Password:
          input(type="password",name="retrypass")
        div
          input(type='submit' value='Submit')
    div