extends layout

block content
  script(src='/javascripts/login.js')
  div(class='flex four')
    div(class='no-pad')
    div(class='full half-1300 pad')
      h2 Boba Account Registration
      hr
      form(action="/register", method="post",id='reg_form')
        div
          label Username
          input(type="text", name="username", id='reg_user')
        div
          label Email
          input(type='email',name='email',id='reg_email')
        div
          label Password:
          input(type="password", name="password",id='reg_pass')
        div
          label Re-try Password:
          input(type="password",name="retrypass",id='reg_retry')
        br
        article(class='card', id='err_box')
          span(class='label warning', id='err')= message
        div
          input(disabled='true' type='submit' value='Submit',id='reg_submit')

    div