h1,h2,h3, h4, p{
  padding:0;
  margin:0;
}

nav {
  color: #C5ECFB;
  background-color:#C5ECFB;
}

div ul{
  padding:0px;
  margin:0px;
  font-size:11px;
}



@media only screen and (max-width:600px) {
  #userposts > div{
    font-size:11px;
  }

  /* multiline ellipse */
  .dots {
    height: 3em;
    overflow:hidden;
    display: block; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; 
  }
}

@media all and (min-width: 600px) {
    /* multiline ellipse */
  .dots {
    height: 4.5em;
    overflow:hidden;
    display: block; 
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; 
  }

  div.pad{
    padding-left:60px;
    padding-right:60px;
    overflow: hidden;
  }
  
  #login{
    margin-right:10px;
  }
  
  
  #err{
    margin:0px;
  }
  
  div.no-pad{
    padding:0px;
  }

  #userposts>div{
    padding-left:10px;
    padding-right:10px;
  }
  

}